<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dfsc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.dfsc.Activity.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.dfsc.Activity.Splash"
            android:configChanges="orientation|locale"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dfsc.Activity.Drawer"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.SaRegistration"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.AscRegistration"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.SearchCustomerDetails"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.ServiceStatus"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.CheckFreeService"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.CloseFreeService"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.CustomerRegistration"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.RiderRegistration"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dfsc.Activity.MyProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>